body {
    margin:auto;
    max-width:400px
    
}
div.admin_page{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #3dc1ca;

}
upload_button{
    background-color: #4169e1;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
canvas.myChart{
    margin: auto;
    width:"1000"

}
.delete{
    border: 2px solid red;
    padding: 10px;
    border-bottom-left-radius: 25px;
    background-color: #fdd5d5;
}